/*DOCTYPE CSS*/

@font-face {
    font-family: Rockwell;
    src: url('./fonts/Rockwell/Rockwell.otf');
}

html,body {
    margin:0;
    padding:0;
}

header{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.7fr;
    grid-template-rows: 1fr;
    gap: 30px 10px 30px 0px;
    grid-template-areas:
      ". logo nav search-bar. ";
    
    background-color: white;
    border-radius: 0px 0px 25px 25px;
    padding-bottom: 20px;
    padding-top: 20px;
}

header>nav{ 
    grid-area: nav;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    ;
}

header>nav>li{
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}


.logo{ 
    grid-area: logo;
}

.search-bar{
    grid-area: search-bar;
    display: flex;
    justify-content: start;
    align-items: center;
    border: #7070707a solid 2px;
    margin: 10px 0px 10px;
    padding-left: 10px;
    border-radius: 50px;
    
}

.search-bar>input{
    border: none;
    margin-left: 10px;
}

.header-thumbnail{
    z-index: -1;
    background-image: url(./images/imgjumbotron-image.png);
  background-size:cover;
  position: relative;
  top: -50px;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 100vw;
  margin: 0px;
  padding:0px;
}

.header-thumbnail>h1{
    position: absolute;
    color: white;
}


/*POPULAR RECIPES BLOC*/

.popular-recipes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popular-recipes>h3{
    font-family: "Rockwell";
    font-weight: bold;
    font-size: 25px;
    color: #707070;
}

.popular-recipes>h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:lighter;
    font-size: 30px;
    color: #707070;
    margin-top: -20px;
}

.recipes {
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.1fr 0.1fr;
    gap: 20px 20px;
    grid-template-areas:
      "img-soup-p img-salade-j img-salade-s"
      "title-soup-p title-salade-j title-salade-s"
      "p-soup-p p-salade-j p-salade-s";
  }
  
.img-soup-p{ 
    grid-area: img-soup-p;
    width: 300px;
}
  
.img-salade-j{ 
    grid-area: img-salade-j;
    width: 300px;
}
  
.img-salade-s{ 
    grid-area: img-salade-s;
    width: 300px;
}
  
.title-soup-p{ 
    grid-area: title-soup-p;
    margin-top: -30px;
    margin-left: 20px;
}
  
.title-salade-j{
    grid-area: title-salade-j;
    margin-top: -30px;
    margin-left: 20px;
}
  
.title-salade-s{ 
    grid-area: title-salade-s;
    margin-top: -30px;
    margin-left: 20px;
}
  
.p-soup-p{ 
    grid-area: p-soup-p;
    margin-top: -30px;
    margin-left: 20px;
}
  
.p-salade-j{ 
    grid-area: p-salade-j;
    margin-top: -30px;
    margin-left: 20px;
}
  
.p-salade-s{ 
    grid-area: p-salade-s;
    margin-top: -30px;
    margin-left: 20px;
}

.recipes>h3{
    font-family: "Rockwell";
    font-size: 20px;
    font-weight: bold;
    color: #707070;
}

.recipes>p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #707070;
}

.recipes>button{
    background-color: white;
    border: none;
    border-radius: 100%;
    height: 75px;
    width: 75px;
}
  
/*BLOG BLOC!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


.blog{
    background-color: #D1DDE2;
    height: 716px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly ;
    align-items: center;
}

.blog>h3{
    font-family: "Rockwell";
    font-weight: bold;
    font-size: 20px;
    color: #707070;
    
}

.blog>h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #707070;
    
}
/*LA WIDTH DE ;BLOC6CONTENT EST A LA BONNE TAILLE EN GRAND ECRAN MAIS PAS EN PLUS PETIT (EX TABLET)*/
.blog-content{
    background-color: white;
    border-radius: 25px;
    width: 1100px;
    height: 377px;
    margin: 0px auto 100px auto;
    
}

.blog-content>div{
    width: 674px;
    height: 201px;
    margin: 95px 335px 81px 84px;
    
}

.blog-content>div>h3{
    font-family: "Rockwell";
    font-size: 20px;
    font-weight: bold;
    color: #707070;
}

.blog-content>div>p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #707070;
}

.blog-content>div>button{
    
    background-color: #B6B6B6;
    color: white;
    width: 177px;
    height: 51px;
    border-radius: 50px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
   
}

.blog>img{
    width: 260px;
    height: 238px;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*INSTAGRAM'MIAM!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.instagramMiam{
    width: 100vw;
    height: 600px;
    margin: auto;
}

.instagramMiam>h3{
    width: 100px;
    height: 30px;
    margin: 60px auto 40px auto
}

.insta-carousel{
    width: 80vw;
    height: 300px;
    margin: auto;
}

.insta-carousel>img{
    height: 278px;
    width: 296px;
}

#insta1{
    display:unset;
    opacity: 100%;
}

#insta2{
    display:unset;
    opacity: 100%;
}

#insta3{
    display:unset;
    opacity: 100%;
}

#insta4{
    display:unset;
    opacity: 100%;
}

#insta5{
    display:unset;
    opacity: 100%;
}

#insta6{
    display: none;
    opacity: 0%;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*FOOTER !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "social-medias contact-footer employ-footer";

    background-color: red;
    height: 400px;
}

.social-medias{
    grid-area: social-medias;
    
}
  
.contact-footer { grid-area: contact-footer; }
  
.employ-footer { grid-area: employ-footer; }
  